{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/accounts.css' %}">
{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">注销</h3>
                    <p class="text-center">确定要注销么？</p>
                    <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button type="submit" class="btn btn-primary btn-block">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
