<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>News Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}">
{#    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto+Slab:300,400,700" rel="stylesheet">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="news_ticker_sec">
            <div class="container">
                <div class="news_ticker">
                    <div class="title"></div>
                    <div class="news-container"></div>
                    <div class="share-sec right">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'blog/images/logo1.png' %}" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a href="{% url 'index' %}" class="nav-link">主页</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'posts' %}" class="nav-link">分类</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                            <input class="form-control mr-sm-2 float-right" type="search" placeholder="输入你要搜索的内容..." aria-label="Search" name="q">
                            <button class="btn btn-outline-danger" type="submit"><span class="fa fa-search"></span></button>
                        </form>
                        {% if user.is_authenticated %}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a href="{% url 'profile' user.id %}" class="nav-link">{{ user.username }}</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_logout' %}" class="btn btn-primary">注销</a>
                                </li>
                                <li>
                                    <a href="{% url 'create_post' %}" class="btn btn-info ml-3">发表新文章</a>
                                </li>
                            </ul>
                        {% else %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" class="nav-link">没有账号？立即注册</a>
                            </li>
                            <li>
                                <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary">登录</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </header>
        {% block content %}
        {% endblock %}
    <footer>
        <div class="footer_copyright">
            <div class="container">
                <div class="row">
{#                    <div class="col-lg-6 col-md-4 logo-side">#}
{#                        <img src="{% static 'blog/images/logo.png' %}" alt="logo">#}
{#                    </div>#}
{#                    <div class="col-lg-6 col-md-8">#}
{#                        <ul class="footer-menu">#}
{#                            <li>#}
{#                                <a href="{% url 'index' %}">主页</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">分类</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <h5 class="copy-right">(C) 2017. All Rights Reserved. </h5>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="{% static 'blog/js/custom.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>