{% extends 'blog/base.html' %}
{% load static %}
{% load comments %}
{% load blog_tags %}
{% load mptt_tags %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/mystyle.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script src="{% static 'blog/lang/summernote-zh-CN.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="bread-crome">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" class="prim">主页 </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'category' post.category.id %}">{{ post.category }}</a>
                </li>
            </ol>
        </div>
    </div>
    <section class="blog-sec">
        <div class="container">
            <div class="main-content">
                <div class="blog-single">
                    <h1>{{ post.title }}</h1>
                    <div class="post_item">
                        <a href="{% url 'category' post.category.id %}" class="category-ttl">{{ post.category }}</a>
                        <div class="shared-sec right">
                            <ul>
                                <li> Share On :</li>
                                <li>
                                    <a href="#"><span class="fab fa-facebook"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fab fa-pinterest"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fab fa-google-plus-g"></span></a>
                                </li>
                            </ul>
                        </div>
{#                        <h2>{{ post.title }}</h2>#}
                        <ul class="post-tools">
                            <li class="admin"><a class="text-primary" href="{% url 'profile' post.author.id %}">{{ post.author }} </a></li>
                            <li class="date">{{ post.created_time|date:"Y年m月d日 H点i分" }}</li>

                        </ul>
                        {% if post.author == user %}
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-primary btn-sm">重新编辑</a>
                        {% endif %}
                        {{ post.body|safe }}
                    </div>
                </div>
            </div>
            <aside class="aside-sec">
               <!--  <div class="ads-sec">
                    <h2>Advertisement</h2>
                    <img src="images/600-ad.jpg" alt="ad">
                </div> -->
                <div class="popular-posts">
                    <h2 class="text-info text-center">最新文章</h2>
                    {% for post in latest_post_list %}
                        <div class="p_post-item">
                        <div class="img-sec">
                            <img src="{% static 'blog/images/pop-post2.jpg' %}" alt="pop-post">
                            <a href="{% url 'category' post.category.id %}" class="category-ttl">{{ post.category }}</a>
                        </div>
                        <a href="{% url 'detail' post.id %}"><h3 class="text-primary">{{ post.title }}</h3></a>
                        <h6>{{ post.body|safe|truncatechars_html:140 }}</h6>
                        <ul class="post-tools">
                            <li class="admin"><a href="{% url 'profile' post.author.id %}" class="text-primary">{{ post.author }} </a></li>
                            <li class="date">{{ post.created_time|date:"Y年m月d日" }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </aside>
        </div>
    </section>


<section class="blog-comment-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
            {% if user.is_authenticated %}
            {% get_comment_form for post as form %}
            <form action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group col-md-8 offset-md-2" >
                        <label for="id_comment"></label>
                        <textarea class="form-control" placeholder="写下你的评论。。。" rows="10" name="comment" id="id_comment" ></textarea>
                    </div>
                    {{ form.honeypot }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <input type="hidden" name="next" value="{% url 'detail' post.id %}"/>
                    <div class="offset-md-9">
                        <button type="submit" class="btn btn-info" id="id_submit">提交</button>
                    </div>
            </form>
            {% else %}
                <div class="card text-center">
                  <div class="card-header">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">登录后回复</h5>
                    <a href="{% url 'account_login' %}?next={{ request.path }}" class="btn btn-primary">登录</a>
                  </div>
                  <div class="card-footer text-muted">
                  </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</section>

<script>
  $('#id_comment').summernote({
    placeholder: '写下你的评论。。。',
    tabsize: 2,
    height: 200,
    lang: "zh-CN"
  });
</script>

<section class="blog-comment">
{% get_comment_list for post as comment_list %}
<div class="container">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
                <hr/>
				<ul class="comments">
                {% if comment_list %}
                    {% recursetree comment_list %}
                    <li class="clearfix">
                        {% if node.user.avatar %}
                            <img src="{{ node.user.avatar_thumbnail.url }}" class="avatar rounded-circle" alt="{{ node.user.username }}">
                        {% else %}
                            <img title="profile image" class="avatar rounded-circle" src="{% static 'blog/images/avatar1_100x100.png' %}">
                        {% endif %}
                        <div class="post-comments">
                          <p class="meta">{{ node.submit_date|naturaltime }}
                              <a href="{% url 'profile' post.author.id %}">@{{ node.user }}</a> says :
                              <i class="float-right"><a href="{% url 'reply' node.id %}"><small>回复</small></a></i>
                          </p>
                          <p>
                              {{ node.comment|safe }}
                          </p>
                        </div>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                {% else %}
                    <li class="clearfix">
                        <p class="text-center text-muted">暂时还没有评论...</p>
                    </li>
                {% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
</section>

{% endblock %}