{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script src="{% static 'blog/lang/summernote-zh-CN.js' %}"></script>
{% endblock %}

{% block content %}
    <span>  >>></span>
    <div class="container">
        <div class="row">
            <form action="/create_post/" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="提交">
            </form>
        </div>
    </div>

    <script>
      $('#id_body').summernote({
        placeholder: '写下你的评论。。。',
        tabsize: 2,
        height: 200,
        lang: "zh-CN"
      });
    </script>
{% endblock %}