{% extends "blog/base.html" %}

{% load static %}
{% load comments %}
{% block content %}
<section class="news-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="big-img" style="background:url({% static 'blog/images/girls3.jpg' %})no-repeat;">
                        <div class="post-content">
                            <div class="content">
                                <img src="{{ user.avatar_thumbnail.url }}">
                                <a href="" class="category-ttl">{{ latest_post_list.0.category }}</a>
{#                                <a href="{% url 'detail' latest_post_list.0.id %}">#}
                                <a href="{{ latest_post_list.0.get_absolute_url }}">
                                    <h3 class="post-ttl">{{ latest_post_list.0.title }}</h3>
                                </a>
                                <ul class="post-tools">
                                    <li class="admin"><a href="{% url 'profile' latest_post_list.0.author.id %}">{{ latest_post_list.0.author }} </a></li>
                                    <li class="date">{{ latest_post_list.0.created_time }}</li>
                                    {% get_comment_count for latest_post_list.0 as comment_count %}
                                    <li class="comment">({{ comment_count }}) Comments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="small-img" style="background:url({% static 'blog/images/banner2.jpg' %})no-repeat;">
                        <div class="post-content">
                            <div class="content">
                                <a href="" class="category-ttl">{{ latest_post_list.1.category }}</a>
                                <a href="{% url 'detail' latest_post_list.1.id %}">
                                    <h3 class="post-ttl">{{ latest_post_list.1.title }}</h3>
                                </a>
                                <ul class="post-tools">
                                    <li class="admin"> <a href="{% url 'profile' latest_post_list.0.author.id %}"> {{ latest_post_list.1.author }} </a></li>
                                    <li class="date">{{ latest_post_list.1.created_time }}</li>
                                    {% get_comment_count for latest_post_list.1 as comment_count %}
                                    <li class="comment">({{ comment_count }}) Comments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="small-img" style="background:url({% static 'blog/images/men3.jpg' %})no-repeat;">
                        <div class="post-content">
                            <div class="content">
                                <a href="" class="category-ttl">Food</a>
                                <a href="#">
                                    <h3 class="post-ttl">dddddd</h3>
                                </a>
                                <ul class="post-tools">
                                    <li class="admin"> <a href="#"> Admin </a></li>
                                    <li class="date">23 Jan 2018</li>
                                    <li class="comment">(0) Comments</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trending-news mb-100">
        <div class="title-sec">
            <div class="title-container">
                <h2 class="title">Top Trending news</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="post-content">
                        <figure style="background:url({% static 'blog/images/girls4.jpg' %})no-repeat"></figure>
                        <a href="#" class="category-ttl">People & Business</a>
                        <ul class="post-tools right">
                            <li class="admin"> <a href="#"> Admin </a></li>
                            <li class="date">23 Jan 2018</li>
                            <li class="comment">(0) Comments</li>
                        </ul>
                        <a href="#">
                            <h3 class="post-ttl">Beautiful Robot looking at camera with nice expression</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="post-content">
                        <figure style="background:url({% static 'blog/images/men5.jpg' %})no-repeat"></figure>
                        <a href="#" class="category-ttl">People & Business</a>
                        <a href="#">
                            <h3 class="post-ttl">Man working in building with welding machine</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="small-post">
                        <div class="row">
                            <div class="col-md-6 col-sm-4 col-5 img-sec">
                                <figure style="background:url({% static 'blog/images/men2.jpg' %})no-repeat"></figure>
                            </div>
                            <div class="col-md-6 col-sm-8 col-7">
                                <a href="#">
                                    <h3 class="post-ttl">Beautiful girl posting for photo in morning</h3>
                                </a>
                                <h5 class="post-text">
                                Lorem Ipsum is simply dummy text of the printing and typeset been the industry's standard
                            </h5>
                                <ul class="post-tools">
                                    <li class="admin"> <a href="#"> Admin </a></li>
                                    <li class="date">23 Jan 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="small-post">
                        <div class="row">
                            <div class="col-md-6 col-sm-4 col-5 img-sec">
                                <figure style="background:url({% static 'blog/images/girls2.jpg' %})no-repeat"></figure>
                            </div>
                            <div class="col-md-6 col-sm-8 col-7">
                                <a href="#">
                                    <h3 class="post-ttl">Beautiful girl posting for photo in morning</h3>
                                </a>
                                <h5 class="post-text">
                                Lorem Ipsum is simply dummy text of the printing and typeset been the industry's standard
                            </h5>
                                <ul class="post-tools">
                                    <li class="admin"> <a href="#"> Admin </a></li>
                                    <li class="date">23 Jan 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
    <!-- Ad section -->
    <div class="responsive ad-sec">
        <div class="container">
            <img src="{% static 'blog/images/responsive-ad.jpg' %}" alt="ad">
        </div>
    </div>
    <!-- End ad section -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
          </h1>


        {% for post in posts %}
            <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.body|safe|truncatechars_html:385 }}</p>
              <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017 by
              <a href="#">Start Bootstrap</a>
            </div>
          </div>
        {% endfor %}


        {% if posts.has_other_pages %}
            <nav aria-label="index pages">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                        {% if posts.number == i %}
                            <li class="page-item active">
                              <span class="page-link">
                                {{ i }}
                                <span class="sr-only">(current)</span>
                              </span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        </div>
    </div>
</div>


    <!-- Ad section -->
    <div class="responsive ad-sec">
        <div class="container">
            <img src="{% static 'blog/images/responsive-ad.jpg' %}" alt="ad">
        </div>
    </div>
    <!-- End ad section -->
    <section class="subscribe-sec" style="background:url({% static 'blog/images/subscribe.jpg' %})no-repeat;">
        <div class="cover"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 subscribe">
                    <h3>Subscribe to newsletter</h3>
                    <h5>Sign up to our weekly newsletter and never miss an update from us !</h5>
                    <div class="mail-sec">
                        <form>
                            <input type="email" placeholder="Your Email" class="form-control" required>
                            <button class="btn submit-btn">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <ul class="social-count">
                        <li>
                            <div class="facebook">
                                <span><i class="fab fa-facebook-square"></i></span>
                                <h4>239K</h4>
                                <h5>Fans</h5>
                            </div>
                        </li>
                        <li>
                            <div class="twitter">
                                <span><i class="fab fa-twitter"></i></span>
                                <h4>445K</h4>
                                <h5>Fans</h5>
                            </div>
                        </li>
                        <li>
                            <div class="youtube">
                                <span><i class="fab fa-youtube-square"></i></span>
                                <h4>152K</h4>
                                <h5>Fans</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}